controller:
  serviceType: ${service_type}

  installPlugins:
    - kubernetes
    - workflow-aggregator
    - git
    - credentials-binding
    - pipeline-stage-view

rbac:
  create: true

agent:
  enabled: true
