# Terraform
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars

# Terraform crash log
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc

# Variables with sensitive data
*.auto.tfvars

# Helm
charts/**/charts/
charts/**/*.tgz

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
*~