# Copy to terraform.tfvars and fill values

aws_region       = "us-west-2"
eks_cluster_name = "lesson-7-eks"

# ECR repository name (must match Jenkinsfile)
ecr_repo_name    = "lesson-8-9-django"

# IMPORTANT: this is the SAME repository (one-repo approach)
app_repo_url     = "https://github.com/<YOUR_GITHUB_USER>/<YOUR_REPO>.git"
app_chart_path   = "lesson-8-9/charts/django-app"
app_revision     = "lesson-8-9"

# DO NOT commit real passwords to public repos
jenkins_admin_password = "ChangeMe-Jenkins-Admin-Password"
