# Copy to terraform.tfvars and fill values

aws_region       = "us-west-2"
eks_cluster_name = "lesson-7-eks"

# IMPORTANT: this is the SAME repository (one-repo approach)
app_repo_url     = "https://github.com/<YOUR_GITHUB_USER>/<YOUR_REPO>.git"
app_chart_path   = "charts/django-app"
app_revision     = "main"

# DO NOT commit real passwords to public repos
jenkins_admin_password = "ChangeMe-Jenkins-Admin-Password"
